@model IEnumerable<SoftwareTechnologiesTeamProject.Models.League>

@{
    ViewBag.Title = "Leagues";
}

<h2>Leagues</h2>
@if (User.IsInRole("Administrator"))
{
    <div class="adminActions">
        @Html.ActionLink("Add new league", "Create")
    </div>
}


<table class="table">
    <tr>
        <th>
            Leagues
        </th>
        <th>
        </th>
        @if (User.IsInRole("Administrator"))
        {
            <th colspan="2">Actions</th>
        }
    </tr>

    @foreach (var league in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(league.Name, "Standings", new { id = league.Id })
            </td>
            <td>
            </td>
            @if (User.IsInRole("Administrator"))
            {
                <th>@Html.ActionLink("Edit", "Edit", new {league.Id})</th>
                <th>@Html.ActionLink("Delete", "Delete", new { league.Id })</th>
            }
        </tr>
    }
</table>
