.singleUpcomingMatch {
    background: white;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.singleUpcomingMatch:hover{
    background: green;
    text-decoration: none;
    cursor: pointer;
}

.singleUpcomingMatch:focus {
    background: green;
    text-decoration: none;
    cursor: pointer;
}

.singleUpcomingMatch > td > a {
    display: block;
    color: black;
    text-decoration: none;
}

.singleUpcomingMatch > td > a:hover {
    display: block;
    text-decoration: none;
}

.singleUpcomingMatch > td > a:focus {
    display: block;
    text-decoration: none;
}



.upcomingMatchInfo {
    display: block;
    margin: 10px 0 10px 0;
    border: red solid;
    height: 50px;
    padding: 0px;
}

.upcomingMatchInfo > a {
    font-size: 15px;
    padding: 5px;
    color: white;
}

.upcomingMatchInfo > a:hover {
     width: 100%;
    border: green solid;
    background: darkviolet;
    color: white;
}


.upcomingMatchInfo > a > * {
    display: inline-block;
    font-size: 15px;
}

.upcomingMatchHomeTeam {
    width: 20%;
    text-align: right;
    margin-left: 10%;
}

.upcomingMatchAwayTeam {
    width: 20%;
    text-align: left;
}

.upcomingMatchesDate {
    font-size: 20px;
    font-weight: bold;
}

.upcomingMatchesTableHead {
    color: black;
    background: white;
    border-bottom: solid 0.5px #e7e7e7;
}

.upcomingMatchesTable {
    margin-bottom: 50px;
    border: none;
}

.upcomingMatchesTable > tbody> tr > td {
    border-left: none;
    border-right: none;
    border-bottom: solid 0.5px #e7e7e7;
}

.team-logo-small {
    height: 20px;
    width: 20px;
}

.time {
    background:darkgreen;
    width: 50px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.time > .matchLink {
    color: white;
}


.upcomingMatchTeamName {
    font-weight: bold;
    width: 250px;
}

.adminActionsSmall {
    width: 40px;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.adminActionsSmall > a:hover {
    color: white;
}

.adminActionsLarge {
    width: 100px;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.adminActionsLarge > a:hover {
    color: white;
}
.upcomingMatchCoef {
    width: 50px;
    text-align: center;
}


.hover {
    background: white;
    color: darkgreen;
}
