.homepageImgResize {
    position: relative;
    height: 100%;
    width: 100%;
}

.date {
    font-size: 13px;
    margin-bottom: 5px;
}

.postTitle {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.aboutUs {
    text-align:center;
}

.dev-img {
    border-radius: 50%;
}

p.about-us {
  padding: 2%;
  background-color: #e6ffff;
  color:dimgrey;
  border: 1px solid lightblue;
  border-radius: .25em;
}

.recent-post-wrapper {
    margin: 5px;
}

.recent-post-wrapper > a {
    display: block;
    font-size: 15px;
}

.recent-post-wrapper > span {
    display: block;
    font-size: 12px;
}