body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

textarea {
    width: 60%;
}

input,
select,
textarea {
    max-width: 60%;
    resize: none;
}

.add-comment-wrapper {
    height: 100px;
}

.add-comment-wrapper > form > textarea {
    width: 100%;
    
}

.bottom-right {
    float: right;
}

.add-comment-wrapper > form {
    height: 100%;
}

.add-comment-text-area {
    max-width: 90%;
}


.add-comment-wrapper > form > input {
    height: 85%;
    width: 10%;
}

.single-commment {
    margin:auto;
    text-align: center;
}

.single-comment > div {
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 10px 2px;
}

.single-comment > .edit-comment-div {
    text-align: center;
}

.single-comment-content {
    position: relative;
    border: solid black;
}

.edit-comment-div {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
}


.edit-comment-div > form > textarea {
     width:250px;
    padding: 0;
    border: 1px solid #ccc;
}


