html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Verdana, sans-serif, serif;
  font-size: 13px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
    height: 2%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

textarea {
    width: 60%;
    resize: none;
}

.text-box {
    width: 60%;
}

.form-group {
    height: auto;
}

.add-comment-wrapper {
    width: 60%;
    height: 60px;
    margin: 10px;
}

.add-comment-wrapper > form > textarea {
    width: 90%;
    height: inherit;
    bottom: 0;
}

.bottom-right {
    float: right;
}

.add-comment-wrapper > form {
    height: 90%;
    bottom: 0;
}

.add-comment-text-area {
    max-width: 85%;
}


.add-comment-wrapper > form > input {
    height: inherit;
    width: 15%;
}

.single-comment {
    width: inherit;
    margin: 20px 3px;
    min-height: 100px;
    position: relative;
}

.single-comment > .info {
    font-size: 12px;
    margin: 1px;
    padding: 0;
    width: 15%;
    text-align: center;
    position: absolute;
    bottom: 50%;
}

.single-comment-content {
    float: right;
    height: 100%;
    width: 65%;
    margin: 2px 2px;
    min-height: 90px;
    overflow-x: auto;
    word-wrap: break-word;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: rgb(232, 232, 232);
    padding: 5px;
}

/* Single comment edit / delete actions styles */

.single-comment > .actions {
    
    top: 0px;
    height: 40px;
    left: 22%;
    position: absolute;
    padding: 0;
}

.single-comment > form > textarea {
    padding: 5px;
}

.edit-comment-wrapper {
    position: absolute;
    top: 0;
    height: inherit;
    width: 150%;
}


.edit-form {
    float: right;
    max-height: 100%;
    width: 74%;
    margin: 2px 2px;
    height: 90px;
    overflow-x: auto;
    word-wrap: break-word;
}

.edit-comment-actions {
    height:88%;
    width: 8%;
    position: relative;
    text-align: left;
}

.edit-form > textarea {
    float: right;
    width:88%;
    height: 90px;
    border: solid rgb(75, 75, 218);
}

.edit-comment-button {
    width: 100%;
    background: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    border-radius: 45px 45px 45px 45px;
    font-weight: bolder;
    padding: 5px;
    font-size: 15px;
     cursor:pointer;
}

.edit-comment-cancel-link {
    position: absolute;
    bottom: 25%;
    width: 100%;
    left: 0;
    border-style: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 6px 3px;
    bottom: 0px;
    border-radius: 45px 45px 45px 45px;
    font-weight: bold;
    cursor:pointer;
}

.edit-comment-cancel-link:hover {
    position: absolute;
    bottom: 25%;
    width: 100%;
    left: 0;
    border-style: solid;
    border-width: 2px;
    color: white;
    background: rgb(54, 54, 54);
    text-decoration: none;
    text-align: center;
     padding: 6px 3px;
     bottom: 0px;
     border-radius: 45px 45px 45px 45px;
    font-weight: bold;
    cursor:pointer;
}
.edit-comment-cancel-link:focus {
    position: absolute;
    bottom: 25%;
    width: 100%;
    left: 0;
    border-style: solid;
    border-width: 2px;
    color: white;
    background: rgb(54, 54, 54);
    text-decoration: none;
    text-align: center;
    padding: 6px 3px;
    bottom: 0px;
     border-radius: 45px 45px 45px 45px;
     font-weight: bold;
      cursor:pointer;
}

.actions {
    margin-right: 55px;
    left: 0px;
    display: none;
}

.actions > a {
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
}

.single-comment:hover .actions {
    display: block;
}

/* End of single comment edit / delete actions styles */

.confirmDelete {
    padding-bottom: 20px;
    margin-bottom: 0;
      cursor:pointer;
}

.confirmDelete > p{
    margin-left: 29%;
    font-size: 20px;
    font-weight: bolder;
      cursor:pointer;
    margin-bottom: 20px;
}


.confirmDeleteLink {
    background: white;
    color: red;
    text-align: center;
    margin-left: 28%;
    margin-right: 30px;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 45px 45px 45px 45px;
    border: solid red;
    border-radius: 45px 45px 45px 45px;
     cursor:pointer;
}


.confirmDeleteLink:hover {
    background: red;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 45px 45px 45px 45px;
      cursor:pointer;
}

.confirmDeleteLink:focus {
    background: red;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 45px 45px 45px 45px;
      cursor:pointer;
}

.cancelConfirmDelete {
    text-decoration: none;
    color: black;
    cursor: default;
    padding: 10px;
    font-size: 15px;
    border: solid rgb(51, 50, 50);
    border-radius: 45px 45px 45px 45px;
     cursor:pointer;
}

.cancelConfirmDelete:hover {
    text-decoration: none;
    background: rgb(51, 50, 50);
    border-radius: 45px 45px 45px 45px;
    color: white;
    font-size: 15px;
    cursor:pointer;
}

.cancelConfirmDelete:focus {
    text-decoration: none;
    background: rgb(51, 50, 50);
    border-radius: 45px 45px 45px 45px;
    color: white;
    font-size: 15px;
     cursor:pointer;
}


.tag-container {
    margin: 5px;
}

.tag-container > a {
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
    color: black;
    text-decoration: none;
    background: orange;
    border-radius: 45px 45px 45px 45px;
      cursor:pointer;
}

.tag-container > a:hover {
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    text-decoration: none;
    background: rgb(54, 51, 51);
    border-radius: 45px 45px 45px 45px;
     cursor:pointer;
}

.alert {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-weight: bold;
}

/* Home page styles */

.recent-posts-container {
    background: white;
    width: 30%;
    height: auto;
    float: right;
    margin-top: 30px;
    text-align: center;
    border: solid black;
}

.recent-post-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    display: block;
    padding: 10px;
    height: 60px;
}

.recent-post-link:hover {
    text-decoration: none;
     color: white;
    background: rgb(44, 44, 44);
     font-weight: bold;
}

.recent-post-link:focus {
    text-decoration: none;
     color: white;
    background: rgb(44, 44, 44);
     font-weight: bold;
}

/* End of home page styles*/

/* Like button styles */

.glyphicon {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.glyphicon:hover {
    color: red;
    text-decoration: none;
}

.glyphicon:focus {
    color: red;
    text-decoration: none;
}

.liked {
    color: red;
    text-decoration: none;
}

/* End of like button styles */

/* Details page styles */

.post-info-wrapper {
    margin: 10px 0 10px 0;
}

.post-info-wrapper > dd {
    height: 30px;
}

/* End of details page styles*/


/* Standings styles*/


.newTeamInput > input {
    width: 50px;
    text-align: right;
    padding: 2px;
    margin-left: 15%;
}

.newTeamInputClubName > input {
    width: 100%;
}

.teamTableInfoCells {
    text-align: center;
}

.tableInfoCells > th {
    text-align: center;
}

.clubName {
    text-align: left;
    width: 200px;
}

.standingsHeading {
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 30px 10px;
    position: relative;
    float: left;
}

.standingsInfo {
    text-align: center;
    width: 2%;
    max-height: 20px;
}

.standingsTeamName {
    width: 15%;
    text-align: left;
}

th{
    text-align: center;
}

.standingsTable {
    font-size: 15px;
}

.standingsMatchHistory {
    color: white;
    width: 15%;
}

.standingsMatchHistory > ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.standingsMatchHistoryLetter {
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;

}

.standingsMatchHistoryLetter > a {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0 5px 0;
    color: white;
}

.standingsMatchHistoryLetter > a:hover {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0 5px 0;
    text-decoration: none;
    background: rgb(17, 80, 17)
}

.standingsMatchHistoryLetter > a:focus {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0 5px 0;
    text-decoration: none;
    background: rgb(17, 80, 17)
}

/* Matches styles */

.games {
    width: 70%;
    margin: 0px 0px 30px 0px;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    text-align: left;
}

.games > td {
    color: darkgreen;
    padding: 5px 4px;
}

.games > th {
     padding: 5px 4px;
}

td ,th {
    display: table-cell;
    vertical-align: inherit;
}


/*
    Match details styles
*/

.container-fluid {
    margin-top: 50px;
    min-height: 900px;
}

.gameTitle {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-align: center;
    color: darkgreen;
    font-weight: normal;
    font-size: 250%;
}

p {
    display: block;
}

.gameTime {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    font-size: 180%;
    font-weight: bolder;
    color: darkgreen;
}



.homeTeamLogo, .awayTeamLogo {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    width: 50%;
    text-align: center;
    font-size: 190%;
    font-weight: bold;
}

.homeTeamLogo {
    float: left;
    padding-left: 50px;
}

.awayTeamLogo {
    float: right;
    padding-right: 50px;
}

.votesContainer {
    float: right;
    width: 100%;
    margin: 0px;
    position: relative;
    height: 12%;
}

.votedButton {
    display: block;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 150%;
    width: 3%;
    text-align: center;
    margin: 5px 2px 2px 5px;
    text-decoration: none;
}

.voteButton {
    display: block;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 150%;
    width: 3%;
    text-align: center;
    margin: 5px 2px 2px 5px;
    text-decoration: none;
}

.voteButton:hover {
    display: block;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 150%;
    width: 3%;
    text-align: center;
    margin: 5px 2px 2px 5px;
    text-decoration: none;
}

.voteButton:focus {
    display: block;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 150%;
    width: 3%;
    text-align: center;
    margin: 5px 2px 2px 5px;
    text-decoration: none;
}

.voteWrapper {
    position: relative;
    margin: 0;
    padding: 0;
}




.totalVotesWrapper {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}



.homeTeamVotes, .awayTeamVotes, .drawVotes {
    position: absolute;
    top: 0;
    left: 38px;
}


.onePercent {
    width: 3px;
    background: green;
    height: 27px;
    float: left;
    margin: 0px;
}

.votePecents {
    font-size: 130%;
    margin-left: 5px;
}

.voteInfo {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}


.updateResultContainer > form {
    width: 50%;
    margin-left: 33%;
}

.updateResultContainer > * {

    left: 20%;
    bottom: 0;
}

.matchResult {
    position: relative;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    color: red;
    margin-left: 47%;
}


.matchHistoryHomeTeam {
    text-align: right;
    width: 200px;
} 

.matchHistoryAwayTeam {
    text-align: left;
    width: 200px;
}

.historyMatchResult {
    width: 50px;
    text-align: center;
}

.matchHistoryDate {
    width: 100px;
    text-align: left;
}

.boldTeamName {
    font-weight: bolder;
}


.matchHistoryCoefficient {
    width: 50px;
    text-align: center;
}

thead {
    color: white;
    font-size: 15px;
    background: green;
}

.matchHistoryTable {
    color: black;
    margin-top: 50px;
}

.matchHistoryHeading {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    float: left;
    margin-right: 40%;
    margin-top: 50px;
}

.searchPost {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../Content/Images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchPost:focus {
    width: 100%;
}

 
.affixed-top {
    background-image: url(../Content/Images/navbarbckg.png);
  }
  /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
.affix {
    background-image: url(../Content/Images/navbarbckg.png);
    top: 0;
    left: 0;
    right: 0;
  }
  /* Added `.affix-bottom` class css when the element is footer */
.affix-bottom {
    background-image: url(../Content/Images/navbarbckg.png);
  }


/* Not important */

.dropTableLogo {
    height: 150px;
    
        
}

