body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

textarea {
    width: 60%;
}

input,
select,
textarea {
    max-width: 60%;
    resize: none;
}

.add-comment-wrapper {
    height: 100px;
}

.add-comment-wrapper > form > textarea {
    width: 100%;
    
}

.bottom-right {
    float: right;
}

.add-comment-wrapper > form {
    height: 100%;
}

.add-comment-text-area {
    max-width: 90%;
}


.add-comment-wrapper > form > input {
    height: 85%;
    width: 10%;
}

.single-commment {
    margin:auto;
    text-align: center;
}

.single-comment > div {
    text-align: center;
}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.logo5 {
    left: 50%;
}

body{
  margin-top: 50px;
}

.divide-nav{
  height: 50px;
  background-color: #428bca;
}

.divide-text{
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}

.affix {
  top: 50px;
  width:100%;
}

.filler{
  min-height: 2000px;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}

.body { 
    padding-top: 65px; 
}
