.resultsInfo {
    text-align: center;
    margin-right: 0;
}

.teamDetailsLogo {
    width: 200px;
    height: 200px;
}

.teamLink {
    text-decoration: none;
    color: black;
}

.teamLink:hover {
    color: black;
}

.teamLink:focus {
    color: black;
    font-weight: bold;
}

.highlightedTeam {
    background: #90ee90;
}

.col-md-6 > div > a {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    text-decoration: none;
    color: darkgreen;
    background: rgb(232, 232, 232);
    font-weight: bold;
    float: right;
}

.col-md-6 > div > a:hover {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    text-decoration: none;
    background: darkgreen;
    color: white;
    float: right;
}

.col-md-6 > div > a:focus {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    text-decoration: none;
    background: darkgreen;
    color: white;
    float: right;
}


.teamDetailsTeamNameHeading {
    margin-top: 50px;
    padding-right: 50px;
    text-align: center;
    color: darkgreen;
    font-weight: bold;
}

.matchHistoryCoefficient {
    width: 50px;
    text-align: center;
}


.matchHistoryHomeTeam {
    text-align: right;
    width: 200px;
} 

.matchHistoryAwayTeam {
    text-align: left;
    width: 200px;
}

.historyMatchResult {
    width: 50px;
    text-align: center;
}

.matchHistoryDate {
    width: 100px;
    text-align: left;
}


.boldTeamName {
    font-weight: bold;
    color: darkgreen;
}


/* Bootstrap overrides */
.col-md-3 {
    margin: 25px 0 25px 0;
}
