@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Our developers:</h2>
<br />
<div>
    <img src="~/Content/Images/1148850_648131101864921_2053131244_n.jpg" width="200" height="160" />
    <p>Боби Животното</p>
    <p>Програмира от 9 години, много е добър.</p>
</div>
<hr />
<div>
    <img src="~/Content/Images/10419971_920034744705734_1313142506640151966_n.jpg" width="140" height="160" />
    <p>Яни Животното</p>
    <p>Програмира от както ходи, Наков пасти да яде.</p>
</div>

<h2>Our designers:</h2>
<br />
<div>
    <img src="~/Content/Images/11666030_10200580448391070_6748796253436057290_n.jpg" width="180" height="180" />
    <p>Петьо Животното</p>
    <p>Работил е за гуугъл още преди да съществуват.</p>
</div>
<hr />
<div>
    <img src="~/Content/Images/10452379_10203768193393008_793925269277997445_n.jpg" width="130" height="170" />
    <p>Адриан Животното</p>
    <p>Правил е дизайна на змията за Nokia 3310.</p>
</div>
