

@{
    ViewBag.Title = "Home Page";
}
<div class="page-header"><h2>Home page header</h2></div>

<div class="recent-posts-container">
    <div>
        <h3>Recent posts</h3>
        <hr />
    </div>
    @foreach (var post in ViewBag.RecentPosts)
    {
        <a href="/Posts/Details/@post.Id" class="recent-post-link">@post.Title</a>
    }
</div>
<section class="banner">
    <div class="container">
        <div class="home_banner slick-initialized slick-slider">
            <div class="slick-list draggable" tabindex="0" style="padding: 0px;">
                <div class="slick-track" style="opacity: 1; width: 6840px; transform: translate3d(-3420px, 0px, 0px);">
                    <div class="banner-m slick-slide slick-cloned" index="-2" style="width: 1140px;">
                        <div class="banner_slider">
                            <img width="1140" height="481" src="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png" class="attachment-full size-full wp-post-image" alt="banner_img" srcset="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png 1140w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-300x127.png 300w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-768x324.png 768w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-1024x432.png 1024w" sizes="(max-width: 1140px) 100vw, 1140px">
                        </div>
                        <div class="banner_text_wrap">
                            <div class="banner_text">
                                <div class="post_categories">
                                    <a href="http://demo.yaythemes.com/blogcafe/category/business/" rel="category tag">Business</a>
                                </div>
                                <h2><a href="http://demo.yaythemes.com/blogcafe/2016/05/10/what-is-lorem-ipsum/">What is Lorem Ipsum?</a></h2>
                            </div>
                        </div>
                    </div><div class="banner-m slick-slide slick-cloned slick-center" index="-1" style="width: 1140px;">
                        <div class="banner_slider">
                            <img width="1140" height="481" src="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png" class="attachment-full size-full wp-post-image" alt="banner_img" srcset="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png 1140w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-300x127.png 300w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-768x324.png 768w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-1024x432.png 1024w" sizes="(max-width: 1140px) 100vw, 1140px">
                        </div>
                        <div class="banner_text_wrap">
                            <div class="banner_text">
                                <div class="post_categories">
                                    <a href="http://demo.yaythemes.com/blogcafe/category/fashion/" rel="category tag">Fashion</a>
                                </div>
                                <h2><a href="http://demo.yaythemes.com/blogcafe/2016/05/09/lorem-ipsum-is-simply-dummy/">Lorem Ipsum is simply dummy</a></h2>
                            </div>
                        </div>
                    </div><div class="banner-m slick-slide" index="0" style="width: 1140px;">
                        <div class="banner_slider">
                            <img width="1140" height="481" src="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png" class="attachment-full size-full wp-post-image" alt="banner_img" srcset="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png 1140w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-300x127.png 300w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-768x324.png 768w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-1024x432.png 1024w" sizes="(max-width: 1140px) 100vw, 1140px">
                        </div>
                        <div class="banner_text_wrap">
                            <div class="banner_text">
                                <div class="post_categories">
                                    <a href="http://demo.yaythemes.com/blogcafe/category/business/" rel="category tag">Business</a>
                                </div>
                                <h2><a href="http://demo.yaythemes.com/blogcafe/2016/05/10/what-is-lorem-ipsum/">What is Lorem Ipsum?</a></h2>
                            </div>
                        </div>
                    </div><div class="banner-m slick-slide slick-active slick-center" index="1" style="width: 1140px;">
                        <div class="banner_slider">
                            <img width="1140" height="481" src="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png" class="attachment-full size-full wp-post-image" alt="banner_img" srcset="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png 1140w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-300x127.png 300w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-768x324.png 768w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-1024x432.png 1024w" sizes="(max-width: 1140px) 100vw, 1140px">
                        </div>
                        <div class="banner_text_wrap">
                            <div class="banner_text">
                                <div class="post_categories">
                                    <a href="http://demo.yaythemes.com/blogcafe/category/fashion/" rel="category tag">Fashion</a>
                                </div>
                                <h2><a href="http://demo.yaythemes.com/blogcafe/2016/05/09/lorem-ipsum-is-simply-dummy/">Lorem Ipsum is simply dummy</a></h2>
                            </div>
                        </div>
                    </div><div class="banner-m slick-slide slick-cloned" index="2" style="width: 1140px;">
                        <div class="banner_slider">
                            <img width="1140" height="481" src="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png" class="attachment-full size-full wp-post-image" alt="banner_img" srcset="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png 1140w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-300x127.png 300w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-768x324.png 768w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-1024x432.png 1024w" sizes="(max-width: 1140px) 100vw, 1140px">
                        </div>
                        <div class="banner_text_wrap">
                            <div class="banner_text">
                                <div class="post_categories">
                                    <a href="http://demo.yaythemes.com/blogcafe/category/business/" rel="category tag">Business</a>
                                </div>
                                <h2><a href="http://demo.yaythemes.com/blogcafe/2016/05/10/what-is-lorem-ipsum/">What is Lorem Ipsum?</a></h2>
                            </div>
                        </div>
                    </div><div class="banner-m slick-slide slick-cloned" index="3" style="width: 1140px;">
                        <div class="banner_slider">
                            <img width="1140" height="481" src="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png" class="attachment-full size-full wp-post-image" alt="banner_img" srcset="http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img.png 1140w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-300x127.png 300w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-768x324.png 768w, http://demo.yaythemes.com/blogcafe/wp-content/uploads/2016/05/banner_img-1024x432.png 1024w" sizes="(max-width: 1140px) 100vw, 1140px">
                        </div>
                        <div class="banner_text_wrap">
                            <div class="banner_text">
                                <div class="post_categories">
                                    <a href="http://demo.yaythemes.com/blogcafe/category/fashion/" rel="category tag">Fashion</a>
                                </div>
                                <h2><a href="http://demo.yaythemes.com/blogcafe/2016/05/09/lorem-ipsum-is-simply-dummy/">Lorem Ipsum is simply dummy</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" data-role="none" class="slick-prev" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" style="display: block;">Next</button>
        </div>
    </div>
</section>

<script>
    


</script>