

@{
    ViewBag.Title = "Home Page";
}
<div class="page-header"><h2>Home page header</h2></div>

<div class="recent-posts-container">
    <div>
        <h3>Recent posts</h3>
        <hr />
    </div>
    @foreach (var post in ViewBag.RecentPosts)
    {
        <a href="/Posts/Details/@post.Id" class="recent-post-link">@post.Title</a>
    }
</div>

<script>
    


</script>